<md-toolbar color="primary">{{title}}</md-toolbar>

<div class="demo-nav-bar">
  <nav md-tab-nav-bar  aria-label="main navigation links">

    <!--Just the Tabs-->
    <!--<a md-tab-link-->
    <!--*ngFor="let tabLink of tabLinks; let i = index"-->
    <!--[active]="activeLinkIndex === i"-->
    <!--(click)="activeLinkIndex = i">-->
    <!--{{tabLink.label}}-->
    <!--</a>-->


    <!--Link router Link with Tabs Sort of works-->
    <!--<a md-tab-link-->
       <!--*ngFor="let tabLink of tabLinks; let i = index"-->
       <!--[routerLink]="tabLink.link"-->
       <!--[active]="activeLinkIndex === i"-->
       <!--(click)="activeLinkIndex = i">-->
      <!--{{tabLink.label}}-->
    <!--</a> -->

    <!--RouterLink active styling-->
    <a md-tab-link
       *ngFor="let tabLink of tabLinks; let i = index"
       [routerLink]="tabLink.link"
       routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
       (click)="activeLinkIndex = i">
      {{tabLink.label}}
    </a>


  </nav>
  <section class="content" fxLayout="column" fxLayoutAlign="center center">
    <router-outlet></router-outlet>
  </section>
</div>
